@import url('https://fonts.google.com/specimen/Montserrat?preview.text_type=custom');
@import url('https://docs.microsoft.com/en-us/typography/font-list/georgia-pro');
* {
  margin: 0;
  font-family: "Georgia-Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Georgia-Pro",
  monospace;
}
 /******************************************* SIGN IN PAGE *******************************************/
.container-fluid{
  margin-top: 100px;
}

.SignInImg{
  padding-top: 100px;
}

.SignInForm{
  padding: 10px;
}

.SignIn h1{ 
  font-family: "Montserrat";
  font-size: 4em;
  color: #333333;
  font-weight:bold;
  text-align: left;
  padding-bottom: 40px;
}

.SignInForm input[type=text]{
  width: 95%;
  height: 65px;
  border: 2px solid #000;
  border-radius: 0px;
  margin-bottom: 30px;
  font-size: 1.25em;
  text-align: center;
}

.SignInForm input[type=password]{
  width: 95%;
  height: 65px;
  border: 2px solid #000;
  border-radius: 0px;
  margin-bottom: 1px;
  font-size: 1.25em;
  text-align: center;
}

.SignInForm input[type=text]::placeholder {
  color: #B3B3B3;
  font-weight: bolder;
  font-family: "Georgia-Pro";
  text-align: center;
  font-size: 1.25em;
}

.SignInForm input[type=password]::placeholder {
  color: #B3B3B3;
  font-weight: bolder;
  font-family: "Georgia-Pro";
  text-align: center;
  font-size: 1.25em;
}


.SignInlink{
  color: #ED1C24;
  text-decoration: underline;
  text-decoration-color: #ED1C24;
  float: right;
  margin-right: 12px;
  font-size: 1.05rem;
  font-family: 'Georgia-Pro';
}

.SignInlink:hover {
	color: #b30303;
  text-decoration: underline;
  text-decoration-color: #b30303;
}

.SignInForm input[type="radio"]{
  appearance: none;
  border: 2px solid #000;
  width: 30px;
  height: 30px;
  content: none;
  outline: none;
  margin: 0;
  float: left;
  margin-left: 20px;
}

.SignInForm input[type="radio"]:checked {
  appearance: none;
  outline: none;
  padding: 0;
  content: none;
  float: left;
  margin-left: 20px;
}

.SignInForm input[type="radio"]:checked::before{
  color: black !important;
  content: "\00A0\2713\00A0" !important;
  font-weight: bolder;
  font-size: 21px;
}

.SignInRadioBtnLabel{
  float: left;
  margin-left: 20px;
  font-family: 'Georgia-Pro';
  font-size: 16px;
}

.SignInForm .button {
  background-color: #384C6E;
  border: none;
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 60px;
  margin-left: 20px;
  text-align: center;
  float: left;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.SignInForm .button:hover {
  background-color: #102446;
}

.SignInForm .button:focus {
    outline: 0 !important;
}

/******************************************* MODAL CONTAINER *******************************************/
.outer-model-container{
  max-width:40%;
}
.modal-container{
  max-width:70%;
}

#headingTitle{
  font-family: "Montserrat";
  font-size: 3em;
  color: #333333;
  font-weight:bold;
  text-align: left;
}

.modal-container input[type=text], input[type=date], input[type=time]{
  width: 100%;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 30px;
  font-size: 1.25em;
  text-align: center;
}

.modal-container select{
  width:100%;
  height: 55px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 30px;
  font-size: 1.25em;
  text-align: center;
  text-align-last:center;
}

.modal-container input[type=button] {
  background-color: #384C6E;
  border: none;
  border-radius: 20px;
  color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
}

.modal-container input[type=button]:hover {
  background-color: #102446;
}

/******************************************* ADMIN PAGE *******************************************/
.containerAdmin .container-fluid{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.LinkRight{
  display: flex;
  flex-direction: row;
  justify-Content: flex-end;
}
.wrap {
  display: flex;
  background: #ccc;
  justify-content: space-between;
}
.adminIconBtn{
  border: none;
  width: 100%;
  height: 42px;
  background-color: #ccc;
}

.adminIconBtn:hover{
  border: none;
  background-color: #808080;
}

.SelectUserOption select{
  border: 1px solid #ccc;
  font-size: 1.3rem;
}

.modal-container #CancelBtnAdmin{
  background-color: #808080;
}

.modal-container #CancelBtnAdmin:hover{
  background-color: #444444;
}

@media screen and (max-width: 600px) {

   /******************************************* SIGN IN PAGE *******************************************/

  .container-fluid{
    margin: 0;
    overflow: hidden;
  }

  .SignInImg{
    margin-top: -100px;
  }

  .section1 {
    width: 100%;
  }

  .section1 img{
    width: 480px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .SignIn h1{ 
    font-family: "Montserrat";
    font-size: 4em;
    color: #333333;
    font-weight:bold;
    text-align: center;
    padding-bottom: 10px;
  }

  /* .SignInForm input[type="button"] {
    width: 95%;
    margin-bottom: 50px;
    margin:20px;
    display: block;
  } */

  .SignInForm button{
    width: 95%;
    margin-bottom: 50px;
    margin:20px;
    display: block;
  }

}

/******************************************* NAVBAR *******************************************/
.navbar h1 {
  color: black;
  
  
}

img.profileIMG{
  
  width:103px;
  height:97px;
  border-radius: 50%;
}

/*img.profileIMG:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  width:105px;
  height:99px;
  background-color:ghostwhite;

}*/

.container .navContainer{
  max-width: auto;
 
  }
  
  /* .navbar .row{
    width:auto;
  }
  
  .navbar .card{
    max-width:auto;
  } */
  
  .navbar .booking{
    width:auto;
    margin-right: auto;
    margin-left:0px;
    display: flex; /*it means the items in div navbar are arranged in a row (default property) */
    align-items: center;
    max-width: auto;
  }

  .navbar .booking h1{
    font-family: Helvetica;
    color:#0a285a;
    
  }










.MRList {  /*from MeetingRoomList.js*/
  
  display: flex; /*it means the items in div mrlist are arranged in a row (default property) */
  
  align-items: center;
  max-width: auto;
  max-height: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  /*background-color: antiquewhite;*/
}


.mrContainer{
  display:flex;
  padding-top:0px;
  padding-bottom:5px; 
  width:100%;
  

  align-items: center; 
  justify-content: center; /*align the rows and cols in the centre*/
} 



.mrContainer .row{
  width:100%; /* ROW IS EXACTLY THE SAME WIDTH AS CONTAINER*/
  height:100%;
}

.mrContainer .col-4 {
  width:100%;    /* 1st col IS EXACTLY THE SAME WIDTH AS row*/
  height:100%;
}

.mrContainer .col-8 {
  width:100%;    /* 2nd col IS EXACTLY THE SAME WIDTH AS row*/
  height:100%;
}

/* .card-1 .card.Link :hover{
  display:block;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} */


 .card{
  
  border-radius:12px;
  
} 

.tab-mr .nav-item{
  font-Size:1.5em;
}


.card-1 .card-link{

  color:#2454a7;
  font-family: Helvetica;

}

.card-1 .card-link:hover{
  
  padding-top:10px;
  padding-right:20px;
  padding-bottom:10px;
  padding-left:20px;
  color:#384C6E;
  
  background-color:ghostwhite;
  
  /* border:1px solid gray; */
  border-Radius:6px;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

 
.tab-mr .nav-link{
  color:#2454a7;
  font-family: Helvetica;
}

.tab-mr .nav-link:hover{
  color:#384C6E;
  font-family: Helvetica;
}



/* .card-mr h2{
  text-align: center;
  color:rgb(71, 68, 68);
  font-family: Helvetica;
} */

@media (max-width: 1000px) {

  .mrContainer .row{
    flex-direction:column; /*when window size in minimized, make all the columns and hence cards appear one below the other*/

    align-items: center; 
    justify-content: center; /*align the rows and cols in the centre*/
  } 

 .mrContainer .col-4 {
      min-height: 65%; 
      height: 65%;
      min-width:65%;
      padding-bottom: 8%;
      /* padding-left: 25%; */
      /* justify-content: center; */
      position: relative;
    
  }

  .mrContainer .col-8 {
    min-height: 65%;
    height: 65%;
    min-width:65%;
    /* padding-left: 5%; */
    /* justify-content: center; */
    padding-bottom: 8%;
    position: relative;
    
}

  .tab-mr, .card-ud {
 width:50%;
  
}

/* .card-booked .table{
  flex-direction: column;
  width:100%;
  height:100%;
} */

}  


.mrContainer .list-group-flush{
  width: 100%;
  height:100%;
}

.user-pic{
  width:200px;
  height:300px;
}
/* 
.Sidebar-class .Card .card-body{
  font-size: 12em;
  font-family: 'Lucida Sans';
} */